<!-- Header -->
<nav class="navbar navbar-expand-lg bg-white shadow-sm mb-5">
  <div class="container">
    <a class="navbar-brand fw-bold fs-4" href="#">Cosmetics</a>
    <div class="collapse navbar-collapse justify-content-center">
      <ul class="navbar-nav gap-3">
        <li class="nav-item"><a class="nav-link" routerLink="/products" routerLinkActive="active-link">Boutique</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/cart" routerLinkActive="active-link">Panier</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/admin" routerLinkActive="active-link">Admin</a></li>
      </ul>
    </div>
    <div class="d-flex flex-row right-nav">
        <div class="position-relative panier-icon">
        <a routerLink="/cart" routerLinkActive="active-link">🛒 <span
            class="badge bg-dark position-absolute top-0 start-100 translate-middle rounded-circle">
            {{panierCount()}}</span></a>   
      </div>
      <ul class="navbar-nav gap-3">
        @if( !(isLoggedIn$ | async) ){
        <li class="nav-item"><a  class="nav-link" routerLink="/sign-up" routerLinkActive="active-link"> S'inscrire</a></li>
        <li class="nav-item"><a  class="nav-link" routerLink="/sign-in" routerLinkActive="active-link">  Connecter</a></li>
        }
        @if( isLoggedIn$ | async ){
        <li class="nav-item"><a  class="nav-link" routerLink="/profile" routerLinkActive="active-link" > Profil</a></li>
        <li class="nav-item"><a  class="nav-link" (click)="logout()"> Déconnexion</a></li>
        }
      </ul>
    </div>
  </div>
</nav>