button  {
  margin-top: 10px;
  padding: 8px 12px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #ffffff;
  color: #e47911;
  border-color: #e47911;
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
}

.justify-content-center {
      justify-content: center;
}


.error {
    color: red;
    font-size: 0.875rem;
    margin: 5px;
}