:root {
  --font-family: 'Helvetica', Arial, sans-serif;
  --text-color: #222;
  --gray-100: #dfe6e9;
  --gray-700: #2c3a47;
  --light: #e9d5ff;
  --primary: #0d6efd;
  --dark: #3b0764;
  --success: #22c55e;
  --danger: #dc2626;
  --linkedin: #f4f2ee;
  --radius:10px;
  --yellow-amazon:#ffd814;
}