:host {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh !important;;  
}

.card {
    background-color: white;
    min-width: 500px;
}

.error {
    color: red;
    font-size: 0.875rem;
}