<form [formGroup]="signInForm" (submit)="submit()" class="card">
    <h1 class="mb-3 mt-3 d-flex flew-row justify-content-center">Connection</h1>
    <div class="flex flex-col ms-2 mb-3">
        <!-- <label for="email">Email</label>  -->
        <input formControlName="userName" type="text" class="form-control shadow-sm" placeholder="Email ou userName"
            id="email" />
        @if (emailControl.errors?.['required'] && (emailControl.touched || formSubmitted())) { <p class="error">Email
            obligatoire</p>
        }
    </div>

    <div class="flex flex-col ms-2 mb-3">
        <!-- <label for="password">Mot de passe</label>  -->
        <input formControlName="password" type="password" id="password" class="form-control shadow-sm"
            placeholder="mot de passe" />
        @if (passwordControl.errors?.['required'] && (passwordControl.touched || formSubmitted()))
        { <p class="error">
            Mot de passe obligatoire</p> }
        @if (passwordControl.errors?.['minlength'] && (passwordControl.touched ||
        formSubmitted())) { <p class="error">Mot de passe trop court</p>
        }
    </div>
    <div class="d-flex flew-row">
        <button class="btn btn-primary mb-3 ms-2">Sauvegarder</button>
        <button class="btn btn-outline-primary mb-3 ms-2" (click)="remplir()">remplir</button>
    </div>
</form>