@let searchResult = products;
<div class="list">
  <ul>
    <li class="d-flex justify-content-between align-items-center py-2 card ">Nombre de résultats: {{
      searchResult?.length }} </li>
    @for(p of searchResult; track p) {
    <li class="d-flex flew-row justify-content-between align-items-center py-2 card">
      <span>{{ p.productName }} - {{ p.purchasePrice}}€ </span>

      <span>
        <a [routerLink]="['/products/update', p.productId]" class="me-2 modif">Modifier</a>
        <a class="text-danger" style="cursor: pointer;">Supprimer</a>
      </span>
    </li>
    }
  </ul>
</div>