<div class="new">
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="container">
        <div class="mb-2">
            <label for="productName">Nom du produit</label>
            <input id="productName" formControlName="productName" placeholder="...." />
        </div>
        <div class="mb-2">
        <label for="categoryId">Catégorie</label>
        <select id="categoryId" formControlName="categoryId">
            <option value="" disabled selected>Choisir une catégorie</option>
            <option *ngFor="let c of categories" [value]="c.categoryId">
            {{ c.categoryName }}
            </option>
        </select>
        </div>
        <div class="mb-2">
            <label for="purchasePrice">Prix unitaire (€)</label>
            <input id="purchasePrice" formControlName="purchasePrice" placeholder="0" />
        </div>

        <div class="mb-2">
            <label for="unitsInStock">Stock disponible</label>
            <input id="unitsInStock" formControlName="unitsInStock" placeholder="0" />
        </div>

        <div class="mb-2">
            <label for="imageUrl">imageUrl</label>
            <input id="imageUrl" formControlName="imageUrl" placeholder="https://..." />
        </div>

        <div class="mb-2">
            <label for="description">Description</label>
            <textarea id="description" formControlName="description" type="text" placeholder="..."></textarea>
        </div>

        <button type="submit" >Update</button>
    </form>


    <div>