:host {
    font-weight: bold;

    .new {
        overflow-y: auto;
        height: 500px;

    }

    .touched-style {
        border: 1px solid black !important;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) !important;
        transition: box-shadow 0.2s ease;
    }

    input,textarea,select {
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 13px;
        font-weight: bold;
    }

    label {
        font-size: 13px;
        font-weight: bold;
    }

    button{
      padding: 8px 12px;
      border-radius: 13px;
      font-weight: bold;
      color:black;
      cursor: pointer;
      background-color: #e47911;
      border: white;
      width: 100px;
    }
    button:hover{
      color: white;
    }

}